/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

* { 
    outline: 1px solid green;
  }

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  row-gap: 40px;
  font-family: "IBM Plex Mono", sans-serif;
  margin: 0px auto;
  background-color: var(--background-color);
  background-image: var(--background-image);
}

/*@media (prefers-color-scheme: dark) {
  .page {
    --background-color: #000028;
    --text-color: #F1B2CE;
  }
}*/

.body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  /*margin: 0 auto;*/
  font-family: var(--font), sans-serif;
  font-size: var(--font-size);
}

/*375 - 668px*/

.header {
  /* высота окна */
  height: 100vh;
  position: relative;
  min-width: 375px;
  box-sizing: border-box;
  min-height: 668px;
  margin: 0px;
  /*padding: 10px;*/
  padding: 10px 10px 10px 0px;
  background-size: cover;
  background-image: var(--background-image);
}
@media (min-width: 768px) {
  .header {
    padding: 20px 20px 20px 0px;
  }
}

.header::before {
  /* верхний уголок */
  content: '';
  /* не перекрывает никакие элементы */
  position: absolute;
  margin: 0px 0px 0px 979px;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.header::after {
  /* нижний уголок */
  content: '';
  /* не перекрывает никакие элементы */
  position: absolute;
  margin: 0px 0px 0px 19px;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.header__rec {
  display: inline-block;
  /* так его отступы не перекрывают никакие элементы */
  position: absolute;
  padding: 0px 28px 0px 943px;
  margin: 0px;
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.header__rec::before {
  /* круг */
  content: '';
  /*не двигает никак rec*/
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 8px 10px 0px 44px;
  /*размер круга зависит от паддинга*/
  padding: 0px;
  background-color: var(--main-color);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 4px 2px var(--main-color);
  border-radius: 50%;
}

.header__theme-menu {
  display: flex;
  /* по ширине */
  justify-content: center;
  /* по высоте */
  align-items: center;
  position: relative;
  margin: 0px;
  /*padding: 40px 10px 0px 295px;*/
}
@media (min-width: 768px) {
  .header__theme-menu {
    /*padding: 147px 20px 0px 678px;*/
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    /*padding: 0px 310px 0px 397px;*/
  }
}
/*нужно тоже прибить его к краю*/
.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}
.header__theme-menu-item {
  /* min-width: 44px;
  min-height: 23px; */
  /*чтоб к краю прибить*/
  padding: 0px 0px 0px 10px;
  color: var(--main-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.header__theme-menu-button {
  color: var(--main-color);
  background-image: var(--background-image);
  border: none;
  text-transform: lowercase;
  min-width: 44px;
  min-height: 23px;
  padding: 1.5px 13px;
}
.header__theme-menu-button_active {
  outline: 1px solid var(--main-color);
  pointer-events: none;
}
.header__theme-menu-button_active:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);  
}
.header__theme-menu-button_active:focus {
  /* если поставить фокус-визибл не так работает эффект*/
  border-bottom: 1px solid var(--main-color);
  border-top: none;
  border-right: none;
  border-left: none;
}
.header__title {
  position: relative;
  min-width: 355px;
  margin: 0px;
  padding: 65px 10px 55px;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--main-color);
  /* clamp(min, val, max) */
  /* на всех размерах стоит 120пх по итогу ИСПРАВИТЬ */
  font-size: clamp(116px, 120px, 157px);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}
@media (min-width: 768px) {
  .header__title {
    min-width: 577px;
    padding: 0px 0px 162px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    min-width: 759px;
    padding: 274.5px 0px 114px;
  }
}
.header__subtitle {
  position: absolute;
  display: flex;
  /* прибить к правому краю */
  right: 0px;
  margin: 0px 20px 0px 0px;
  padding: 0px;
  min-width: 355px;
  background-color: var(--main-color);
  color: var(--background-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
@media (min-width: 768px) {
  .header__subtitle {
    max-width: 364px;
    /*margin: 0px 20px 138px 384px;*/
  }
}
@media (min-width: 1024px) {
  .header__subtitle {
    max-width: 491px;
    /*margin: 0px 0px 89px 513px;*/
  }
}
.common__rectangle-bottom {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  margin: 0px 0px 0px 10px;
}
@media (min-width: 768px) {
  .header__rectangle-bottom {
    margin: 20px 0px 0px 20px;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-width: 375px;
  /*background-color: var(--background-color);*/
}

@media (min-width: 768px) {
  .main {
    min-width: 768px;
  }
}
@media (min-width: 1024px) {
  .main {
    min-width: 1024px;
  }
}

.lead {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px 10px;
  background-color: var(--background-color);
  color: var(--main-color);
}
@media (min-width: 768px) {
  .lead {
    flex-direction: row;
    padding: 0px 20px;
  }
}
.main__title {
  margin: 0px;
  /* MIN-WIDTH 355PX */
  min-width: 345px;
  padding: 40px 0px 0px;
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
@media (min-width: 768px) {
  .main__title {
    min-width: 236px;
    padding: 60px 20px 0px 0px;
  }
}
@media (min-width: 1024px) {
  .main__title {
    min-width: 315px;
  }
}
.lead__table {
  /*для флекса таблица*/
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px;
}
@media (min-width: 768px) {
.lead__table {
  margin-top: 40px;
}
}
.main__subtitle {
  min-width: 355px;
  margin: 20px 0px 10px 0px;
  color: var(--background-color);
  background-color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
.main__text {
  color: var(--text-color);
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.attention {
  /* SCROLL <391px */
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 375px;
  padding: 50px 10px 0px;
  margin: 0px;
  background-color: var(--background-color);
  color: var(--main-color);
}
@media (min-width: 768px) {
  .attention {
    padding: 50px 20px 0px;
  }
}
.main__title {
  margin: 0px;
  padding: 0px;
  min-width: 236px;
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
@media (min-width: 768px) {
  .attention__title {
    max-width: 236px;
  }
}
@media (min-width: 1024px) {
  .attention__title {
    max-width: 315px;
  }
}
.attention__table {
  /* flex */
  position: relative;
  display: flex;
  flex-direction: column;
  
}
@media (min-width: 1024px) {
  .attention__table {
    flex-direction: row;
    gap: 20px;
  }
}
.attention__cell {
  min-width: 315px;
}
.main__subtitle {
  min-width: 315px;
  margin: 20px 0px 10px 0px;
  padding: 0px;
  color: var(--background-color);
  background-color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
.main__text {
  color: var(--text-color);
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.text-shadow {
  text-shadow: var(--main-color) 2px 2px;
}

.advices {
  /* SCROLL < 375px */
  min-width: 375px;
  padding: 50px 10px 0px;
  background-color: var(--background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .advices {
    padding: 50px 20px 0px;
    min-width: 728px;
    flex-direction: row;
    gap: 20px;
  }
}
.advices__title {
  min-width: 315px;
  padding: 0px 0px 20px;
  margin: 0px;
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
@media (min-width: 768px) {
  .advices__title {
    min-width: 236px;
    padding: 0px;
  }
}
@media (min-width: 1024px) {
  .advices__title {
    min-width: 315px;
  }
}
.advices__table {
  /* flex */
}
.main__subtitle {
  padding: 0px 0px 0px;
  margin: 0px;
  color: var(--background-color);
  background-color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
.main__subtitle:first-of-type {
  margin-bottom: 20px;
}
.main__paragraph {
  padding: 0px 0px 0px;
  margin: 0px;
  color: var(--background-color);
  background-color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}
.advices__text {
  color: var(--text-color);
  margin: 0px;
  padding: 0px 0px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.photo {
  min-width: 375px;
  box-sizing: border-box;
  padding: 0px 10px 40px;
  margin: 0px;
  background-color: var(--background-color);
}
@media (min-width: 768px) {
  .photo {
    padding: 0px 20px 60px;
  }
}
@media (min-width: 1024px) {
  .photo {
    min-width: 1024px;
  }
}
/*вылезло почему-то*/
.photo__title {
  min-width: 355px;
  padding: 0px;
  margin: 0px;
  color: var(--background-color);
  background-color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
@media (min-width: 768px) {
  .photo__title {
    min-width: 728px;
  }
}
@media (min-width: 1024px) {
  .photo__title {
    min-width: 984px;
  }
}

.photo__gallery {
  display: grid;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .photo__gallery {
    /*grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(3, 105px);*/
    grid-template-columns: repeat(3, 230px);
  }
}
@media (min-width: 1024px) {
  .photo__gallery {
    /*grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 100px);*/
    grid-template-columns: repeat(3, 300px);
  }
}

/* У КАРТОЧЕК УБРАТЬ ШИРИНУ 
ФИКСАЦИЯ ТОЛЬКО ПО СЕТКЕ GRID */
.photo__sunset {
  min-width: 315px;
  height: 142px;
  object-fit: cover;
  padding: 10px 0px;
}
@media (min-width: 768px) {
  .photo__sunset {
    width: 479px;
    height: 179px;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 20px 20px 20px 0px;
  }
}
@media (min-width: 1024px) {
  .photo__sunset {
    width: 649px;
    height: 260px;
  }
}
.photo__cats {
  width: 355px;
  height: 355px;
  object-fit: cover;
  padding: 0px 0px 10px 0px;
}
@media (min-width: 768px) {
  .photo__cats {
    width: 229px;
    height: 441px;
    display: grid;
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 20px 0px 20px 40px;
  }
}
@media (min-width: 1024px) {
  .photo__cats {
    width: 315px;
    height: 595px;
    padding: 20px 0px 20px 70px;
  }
}
.photo__music {
  width: 355px;
  height: 237px;
  object-fit: cover;
  padding: 0px 0px 10px 0px;
}
@media (min-width: 768px) {
  .photo__music {
    width: 229px;
    height: 568px;
    display: grid;
    grid-column: 1;
    grid-row: 3 / 4;
    padding: 15px 20px 20px 0px;
  }
}
@media (min-width: 1024px) {
  .photo__music {
    width: 315px;
    height: 768px;
    padding: 100px 20px 20px 0px;
  }
}
.photo__books {
  width: 355px;
  height: 355px;
  object-fit: cover;
  padding: 0px 0px 10px 0px;
}
@media (min-width: 768px) {
  .photo__books {
    width: 230px;
    height: 230px;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    padding: 120px 20px 20px 20px;
    
  }
}
@media (min-width: 1024px) {
  .photo__books {
    width: 315px;
    height: 315px;
    padding: 200px 20px 20px 36px;
  }
}
.photo__street {
  width: 355px;
  height: 237px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .photo__street {
    width: 479px;
    height: 318px;
    display: grid;
    grid-column: 2;
    grid-row: 4;
    padding: 160px 0px 0px 20px;
  }
}
@media (min-width: 1024px) {
  .photo__street {
    width: 649px;
    height: 428px;
    padding: 340px 0px 20px 38px;
  }
}

.footer {
  padding: 10px;
  min-width: 375px;
  min-height: 668px;
  /* высота окна */
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background-color);
  /* так встанет title ы центр блока но нужно углы двигать 
  display: flex;
  /* по ширине 
  justify-content: center;
  /* по высоте 
  align-items: center; */
}
@media (min-width: 768px) {
  .footer {
    min-width: 768px;
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .footer {
    min-width: 1024px;
  }
}
.footer__title {
  position: relative;
  display: flex;
  /* высота тайтла = высота блока -> центрировали тайтл */
  height: 100%;
  /* по ширине */
  justify-content: center;
  /* по высоте */
  align-items: center;
  text-shadow: 2px 2px 0px var(--main-color);
  margin: 0px;
  /*padding: 245px 13px;*/
  color: var(--title-color);
  /* на всех размерах стоит 120пх по итогу ИСПРАВИТЬ */
  font-size: clamp(116px, 120px, 157px);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}
@media (min-width: 768px) {
  .footer__title {
    /*padding: 418px 204px;*/
  }
}
@media (min-width: 1024px) {
  .footer__title {
    /*padding: 274px 276px 300px;*/
  }
}
.footer::before {
  /* верхний уголок */
  content: '';
  /* не перекрывает никакие элементы */
  position: absolute;
  margin: 0px 0px 0px 959px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.footer::after {
  /* нижний уголок */
  content: '';
  /* не перекрывает никакие элементы */
  position: absolute;
  margin: 0px;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}

.footer__rectangle-bottom {
  width: 25px;
  height: 25px;
  position: relative;
  display: block;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
}